*
!/app
!/app/code
!/app/code/**
!/app/design
!/app/design/**
!/app/etc
!/app/etc/config.php

!/bin
!/bin/*
/bin/magento
/bin/.htaccess

!/dev

!/pub
!/pub/media
!/pub/media/.htaccess
!/pub/media/demo
!/pub/media/demo/*

!/.gitignore
!/.gitpod*

!/composer.json
!/composer.lock

!/LICENSE.txt
#pub/media/*
#!/pub/media/.htaccess
